:root {
    --dodger-100: rgba(24, 144, 255, 1);
    --dodger-80: rgba(58, 160, 255, 1);
    --dodger-60: rgba(244, 250, 255, 1);
    --oweb-100: rgba(255, 174, 53, 1);
    --oweb-80: rgba(255, 185, 80, 1);
    --oweb-60: rgba(255, 249, 240, 1);
    --gray-scalegray-900: rgba(26, 26, 26, 1);
    --gray-scalegray-300: rgba(179, 179, 179, 1);
    --gray-scalegray-400: rgba(153, 153, 153, 1);
    --gray-scalegray-500: rgba(128, 128, 128, 1);
    --gray-scalewhite: rgba(255, 255, 255, 1);
    --gray-scalegray-700: rgba(77, 77, 77, 1);
    --brandingerror: rgba(234, 75, 72, 1);
    --gray-scalegray-600: rgba(102, 102, 102, 1);
    --gray-scalegray-800: rgba(51, 51, 51, 1);
    --gray-scalegray-100: rgba(230, 230, 230, 1);
    --gray-scalegray-50: rgba(242, 242, 242, 1);
    --brandingsuccess: rgba(0, 178, 7, 1);
    --gren-gray-scale900: rgba(0, 38, 3, 1);
    --brandingsuccess-dark: rgba(44, 116, 47, 1);
    --header-1-font-family: "WorkSans-Bold", Helvetica;
    --header-1-font-weight: 700;
    --header-1-font-size: 34px;
    --header-1-letter-spacing: -0.68px;
    --header-1-line-height: normal;
    --header-1-font-style: normal;
    --header-2-font-family: "WorkSans-Bold", Helvetica;
    --header-2-font-weight: 700;
    --header-2-font-size: 20px;
    --header-2-letter-spacing: -0.4px;
    --header-2-line-height: normal;
    --header-2-font-style: normal;
    --body-font-family: "WorkSans-Regular", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 13px;
    --body-letter-spacing: -0.26px;
    --body-line-height: normal;
    --body-font-style: normal;
    --heading-05-heading-05-600-font-family: "Poppins-SemiBold", Helvetica;
    --heading-05-heading-05-600-font-weight: 600;
    --heading-05-heading-05-600-font-size: 32px;
    --heading-05-heading-05-600-letter-spacing: 0px;
    --heading-05-heading-05-600-line-height: 120.00000476837158%;
    --heading-05-heading-05-600-font-style: normal;
    --body-small-body-small-600-font-family: "Poppins-SemiBold", Helvetica;
    --body-small-body-small-600-font-weight: 600;
    --body-small-body-small-600-font-size: 14px;
    --body-small-body-small-600-letter-spacing: 0px;
    --body-small-body-small-600-line-height: 120.00000476837158%;
    --body-small-body-small-600-font-style: normal;
    --body-tiny-body-tiny-400-font-family: "Poppins-Regular", Helvetica;
    --body-tiny-body-tiny-400-font-weight: 400;
    --body-tiny-body-tiny-400-font-size: 12px;
    --body-tiny-body-tiny-400-letter-spacing: 0px;
    --body-tiny-body-tiny-400-line-height: 129.99999523162842%;
    --body-tiny-body-tiny-400-font-style: normal;
    --body-small-body-small-500-font-family: "Poppins-Medium", Helvetica;
    --body-small-body-small-500-font-weight: 500;
    --body-small-body-small-500-font-size: 14px;
    --body-small-body-small-500-letter-spacing: 0px;
    --body-small-body-small-500-line-height: 150%;
    --body-small-body-small-500-font-style: normal;
    --body-XXL-body-XXL-600-font-family: "Poppins-SemiBold", Helvetica;
    --body-XXL-body-XXL-600-font-weight: 600;
    --body-XXL-body-XXL-600-font-size: 24px;
    --body-XXL-body-XXL-600-letter-spacing: 0px;
    --body-XXL-body-XXL-600-line-height: 150%;
    --body-XXL-body-XXL-600-font-style: normal;
    --body-small-body-small-400-font-family: "Poppins-Regular", Helvetica;
    --body-small-body-small-400-font-weight: 400;
    --body-small-body-small-400-font-size: 14px;
    --body-small-body-small-400-letter-spacing: 0px;
    --body-small-body-small-400-line-height: 150%;
    --body-small-body-small-400-font-style: normal;
    --body-medium-body-medium-500-font-family: "Poppins-Medium", Helvetica;
    --body-medium-body-medium-500-font-weight: 500;
    --body-medium-body-medium-500-font-size: 16px;
    --body-medium-body-medium-500-letter-spacing: 0px;
    --body-medium-body-medium-500-line-height: 150%;
    --body-medium-body-medium-500-font-style: normal;
    --body-medium-body-medium-400-font-family: "Poppins-Regular", Helvetica;
    --body-medium-body-medium-400-font-weight: 400;
    --body-medium-body-medium-400-font-size: 16px;
    --body-medium-body-medium-400-letter-spacing: 0px;
    --body-medium-body-medium-400-line-height: 150%;
    --body-medium-body-medium-400-font-style: normal;
    --body-medium-body-medium-600-font-family: "Poppins-SemiBold", Helvetica;
    --body-medium-body-medium-600-font-weight: 600;
    --body-medium-body-medium-600-font-size: 16px;
    --body-medium-body-medium-600-letter-spacing: 0px;
    --body-medium-body-medium-600-line-height: 120.00000476837158%;
    --body-medium-body-medium-600-font-style: normal;
    --heading-04-heading-04-400-font-family: "Poppins-SemiBold", Helvetica;
    --heading-04-heading-04-400-font-weight: 600;
    --heading-04-heading-04-400-font-size: 36px;
    --heading-04-heading-04-400-letter-spacing: 0px;
    --heading-04-heading-04-400-line-height: 120.00000476837158%;
    --heading-04-heading-04-400-font-style: normal;
    --body-XXL-body-XXL-500-font-family: "Poppins-Medium", Helvetica;
    --body-XXL-body-XXL-500-font-weight: 500;
    --body-XXL-body-XXL-500-font-size: 24px;
    --body-XXL-body-XXL-500-letter-spacing: 0px;
    --body-XXL-body-XXL-500-line-height: 150%;
    --body-XXL-body-XXL-500-font-style: normal;
    --line-shadow: 0px 1px 0px 0px rgba(229, 229, 229, 1);
    --hover-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
  }
  