<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href='{% static "landing/globals.css" %}' />
    <link rel="stylesheet" href='{% static "landing/styleguide.css" %}' />
    <link rel="stylesheet" href='{% static "landing/style.css" %}' />
  </head>
  <body>
    <div class="element-homepage-box">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="BG"></div>
          <div class="footer">
            <div class="newsletter">
              <div class="div">
                <img class="envelopeopen" src='{% static "landing/img/envelopeopen-1.svg" %}' />
                <div class="heading">
                  <div class="text-wrapper">Subcribe our Newsletter</div>
                  <p class="text-wrapper-2">Pellentesque eu nibh eget mauris congue mattis matti.</p>
                </div>
              </div>
              <div class="frame">
                <div class="subscribe">
                  <div class="overlap-group">
                    <input class="input-field" placeholder="Your email address" type="email" />
                    <button class="button"><div class="text-wrapper-3">Subscribe</div></button>
                  </div>
                </div>
                <div class="div-2">
                  <img class="img" src='{% static "landing/img/social-media-3.svg" %}' />
                  <img class="img" src='{% static "landing/img/social-media-2.svg" %}' />
                  <img class="img" src='{% static "landing/img/social-media-1.svg" %}' />
                  <img class="img" src='{% static "landing/img/social-media.svg" %}' />
                </div>
              </div>
            </div>
            <div class="footer-2">
              <div class="div-3">
                <div class="div">
                  <img class="img-2" src='{% static "landing/img/plant-1-1.svg" %}' />
                  <div class="ecobazar">Cheap ‘N’ Bulk</div>
                </div>
                <p class="p">
                  Morbi cursus porttitor enim lobortis molestie. Duis gravida turpis dui, eget bibendum magna congue
                  nec.
                </p>
                <div class="CTA">
                  <button class="div-wrapper"><div class="text-wrapper-4">(219) 555-0114</div></button>
                  <div class="text-wrapper-5">or</div>
                  <button class="div-wrapper"><div class="text-wrapper-4">Proxy@gmail.com</div></button>
                </div>
              </div>
              <div class="div-3">
                <div class="text-wrapper-6">My Account</div>
                <div class="div-4">
                  <div class="text-wrapper-7">My Account</div>
                  <div class="text-wrapper-2">Order History</div>
                  <div class="text-wrapper-2">Shoping Cart</div>
                  <div class="text-wrapper-2">Wishlist</div>
                </div>
              </div>
              <div class="div-3">
                <div class="text-wrapper-6">Helps</div>
                <div class="div-4">
                  <div class="text-wrapper-7">Contact</div>
                  <div class="text-wrapper-2">Faqs</div>
                  <div class="text-wrapper-2">Terms &amp; Condition</div>
                  <div class="text-wrapper-2">Privacy Policy</div>
                </div>
              </div>
              <div class="div-3">
                <div class="text-wrapper-6">Proxy</div>
                <div class="div-4">
                  <div class="text-wrapper-7">About</div>
                  <div class="text-wrapper-2">Shop</div>
                  <div class="text-wrapper-2">Product</div>
                  <div class="text-wrapper-2">Track Order</div>
                </div>
              </div>
              <div class="div-3">
                <div class="text-wrapper-6">Download Mobile App</div>
                <div class="div-2">
                  <div class="div-5">
                    <img class="apple-negative" src='{% static "landing/img/apple-negative-1.png" %}' />
                    <div class="div-6">
                      <div class="text-wrapper-8">Download on the</div>
                      <div class="text-wrapper-9">App Store</div>
                    </div>
                  </div>
                  <div class="div-5">
                    <img class="icon-google-play" src='{% static "landing/img/icon-google-play-1.svg" %}' />
                    <div class="div-6">
                      <div class="text-wrapper-8">Download on the</div>
                      <div class="text-wrapper-9">Google play</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="copyright">
              <p class="ecobazar-ecommerce">Cheap ‘N’ Bulk&nbsp;&nbsp;© 2023. All Rights Reserved</p>
              <div class="div-7">
                <div class="div-8"><img class="apple-pay" src='{% static "landing/img/applepay-5.svg" %}' /></div>
                <div class="div-9"><img class="visa-logo" src='{% static "landing/img/visa-logo.svg" %}' /></div>
                <div class="div-9">
                  <div class="discover">
                    <img class="stripe" src='{% static "landing/img/stripe-5.svg" %}' />
                    <div class="o-wrapper"><img class="o" src='{% static "landing/img/o-5.svg" %}' /></div>
                  </div>
                </div>
                <div class="group">
                  <div class="overlap-2">
                    <img class="lock" src='{% static "landing/img/lock-1.svg" %}' />
                    <div class="text-wrapper-10">Secure</div>
                    <div class="text-wrapper-11">Payment</div>
                  </div>
                </div>
                <div class="div-8">
                  <div class="mastercard">
                    <div class="overlap-group-2">
                      <img class="right" src='{% static "landing/img/right.svg" %}' /> <img class="middle" src='{% static "landing/img/middle.svg" %}' />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="company-logo" src='{% static "landing/img/company-logo.svg" %}' />
          <div class="testimonial">
            <div class="heading-2">
              <div class="client-testiomial">CLIENT TESTIOMIAL</div>
              <div class="text-wrapper-12">What our Client Says</div>
            </div>
            <div class="testimonial-2">
              <img class="testimonial-card" src='{% static "landing/img/testimonial-card-2.png" %}' />
              <img class="testimonial-card-2" src='{% static "landing/img/testimonial-card-1.png" %}' />
              <img class="testimonial-card-3" src='{% static "landing/img/testimonial-card.png" %}' />
            </div>
          </div>
          <img class="group-2" src='{% static "landing/img/group-25.png" %}' />
          <div class="bannar">
            <div class="info-wrapper">
              <div class="info">
                <div class="info-2">
                  <div class="element-fresh-cow-milk">100% Fresh <br />Cow Milk</div>
                  <p class="starting-at">
                    <span class="span">Starting at</span>
                    <span class="text-wrapper-13">&nbsp;</span>
                    <span class="text-wrapper-14">$14.99</span>
                  </p>
                </div>
                <button class="button-2">
                  <div class="text-wrapper-15">Shop Now</div>
                  <img class="group-3" src='{% static "landing/img/group-2.png" %}' />
                </button>
              </div>
            </div>
            <div class="bannar-2">
              <div class="info-3">
                <div class="info-2">
                  <div class="text-wrapper-16">DRINK SALE</div>
                  <div class="water-soft-drink">Water &amp;<br />Soft Drink</div>
                </div>
                <button class="button-2">
                  <div class="text-wrapper-17">Shop Now</div>
                  <img class="group-3" src='{% static "landing/img/group-2.png" %}' />
                </button>
              </div>
            </div>
            <div class="bannar-3">
              <div class="info-4">
                <div class="info-2">
                  <div class="text-wrapper-16">100% ORGANIC</div>
                  <div class="text-wrapper-18">Quick Breakfast</div>
                </div>
                <button class="button-2">
                  <div class="text-wrapper-17">Shop Now</div>
                  <img class="group-3" src='{% static "landing/img/group-6.png" %}' />
                </button>
              </div>
            </div>
          </div>
          <div class="products">
            <div class="heading-3">
              <div class="text-wrapper-19">PRODUCTS</div>
              <div class="text-wrapper-12">Our Featured Products</div>
            </div>
            <div class="products-2">
              <div class="bannar-4">
                <div class="info-5">
                  <div class="heading-2">
                    <div class="summer-sale">SUMMER SALE</div>
                    <div class="text-wrapper-20">75% off</div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/button.png" %}' />
                </div>
              </div>
              <div class="products-x">
                <div class="image"><img class="image-2" src='{% static "landing/img/image-13.png" %}' /></div>
                <div class="overlap-group-3">
                  <div class="product-info">
                    <div class="div-6">
                      <div class="green-apple">Chanise Cabbage</div>
                      <div class="price"><div class="text-wrapper-6">621.00</div></div>
                    </div>
                    <img class="img-3" src='{% static "landing/img/rating-8.svg" %}' />
                  </div>
                  <img class="add-to-cart" src='{% static "landing/img/add-to-cart-7.svg" %}' />
                </div>
              </div>
              <div class="products-x">
                <div class="image"><img class="image-3" src='{% static "landing/img/image-12.png" %}' /></div>
                <div class="overlap-group-3">
                  <div class="product-info">
                    <div class="div-6">
                      <div class="green-apple">Green Lettuce</div>
                      <div class="price"><div class="text-wrapper-6">759.00</div></div>
                    </div>
                    <img class="img-3" src='{% static "landing/img/rating-8.svg" %}' />
                  </div>
                  <img class="add-to-cart" src='{% static "landing/img/add-to-cart-7.svg" %}' />
                </div>
              </div>
              <div class="products-3">
                <div class="overlap-group-wrapper">
                  <div class="group-wrapper">
                    <div class="group-4">
                      <img class="add-to-wishlist" src='{% static "landing/img/add-to-wishlist.svg" %}' />
                      <img class="quick-view" src='{% static "landing/img/quick-view-3.svg" %}' />
                    </div>
                  </div>
                </div>
                <div class="overlap-group-3">
                  <div class="product-info">
                    <div class="div-6">
                      <div class="green-apple">Green Chili</div>
                      <div class="price"><div class="text-wrapper-6">758.00</div></div>
                    </div>
                    <img class="img-3" src='{% static "landing/img/rating-8.svg" %}' />
                  </div>
                  <img class="add-to-cart" src='{% static "landing/img/add-to-cart.svg" %}' />
                </div>
              </div>
              <div class="products-x">
                <div class="image"><img class="image-2" src='{% static "landing/img/image-10.png" %}' /></div>
                <div class="overlap-group-3">
                  <div class="product-info">
                    <div class="div-6">
                      <div class="green-apple">Corn</div>
                      <div class="price"><div class="text-wrapper-6">68.00</div></div>
                    </div>
                    <img class="img-3" src='{% static "landing/img/rating-8.svg" %}' />
                  </div>
                  <img class="add-to-cart" src='{% static "landing/img/add-to-cart-7.svg" %}' />
                </div>
              </div>
            </div>
            <div class="hot-deals">
              <div class="text-wrapper-21">Hot Deals</div>
              <div class="product">
                <div class="image-wrapper"><img class="image-4" src='{% static "landing/img/image-9.png" %}' /></div>
                <div class="product-info-2">
                  <div class="div-6">
                    <div class="chanise-cabbage">Green Apple</div>
                    <div class="price"><div class="element-commerce-price">88.00</div></div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/rating.svg" %}' />
                </div>
              </div>
              <div class="group-5">
                <div class="overlap-group-4">
                  <div class="product-2">
                    <div class="image-wrapper"><img class="image-4" src='{% static "landing/img/image-8.png" %}' /></div>
                    <div class="product-info-3">
                      <div class="chanise-cabbage-2">Indian Malta</div>
                      <div class="frame-2">
                        <img class="img" src='{% static "landing/img/add-to-cart.svg" %}' />
                        <img class="img" src='{% static "landing/img/quick-view-3.svg" %}' />
                        <img class="img" src='{% static "landing/img/add-to-wishlist.svg" %}' />
                      </div>
                    </div>
                  </div>
                  <div class="frame-3">
                    <img class="img" src='{% static "landing/img/add-to-cart.svg" %}' />
                    <img class="img" src='{% static "landing/img/quick-view-3.svg" %}' />
                    <img class="img" src='{% static "landing/img/add-to-wishlist.svg" %}' />
                  </div>
                </div>
              </div>
              <div class="product">
                <div class="image-wrapper"><img class="image-5" src='{% static "landing/img/image-7.png" %}' /></div>
                <div class="product-info-2">
                  <div class="div-6">
                    <div class="chanise-cabbage">Green Lettuce</div>
                    <div class="price"><div class="element-commerce-price">954.00</div></div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/rating.svg" %}' />
                </div>
              </div>
            </div>
            <div class="best-seller">
              <div class="text-wrapper-21">Best Seller</div>
              <div class="product">
                <div class="image-wrapper"><img class="image-5" src='{% static "landing/img/image-6.png" %}' /></div>
                <div class="product-info-2">
                  <div class="div-6">
                    <div class="chanise-cabbage">Eggplant</div>
                    <div class="price"><div class="element-commerce-price">563.00</div></div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/rating.svg" %}' />
                </div>
              </div>
              <div class="product">
                <div class="image-wrapper"><img class="image-4" src='{% static "landing/img/image-5.png" %}' /></div>
                <div class="product-info-2">
                  <div class="div-6">
                    <div class="chanise-cabbage">Red Capsicum</div>
                    <div class="price-2">
                      <div class="element-commerce-price">867.00</div>
                      <div class="element-commerce-price-2">413.00</div>
                    </div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/rating.svg" %}' />
                </div>
              </div>
              <div class="product">
                <div class="image-wrapper"><img class="image-4" src='{% static "landing/img/image-4.png" %}' /></div>
                <div class="product-info-2">
                  <div class="div-6">
                    <div class="chanise-cabbage">Red Tomatos</div>
                    <div class="price"><div class="element-commerce-price">668.00</div></div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/rating.svg" %}' />
                </div>
              </div>
            </div>
            <div class="top-rated">
              <div class="text-wrapper-21">Top Rated</div>
              <div class="product">
                <div class="image-wrapper"><img class="image-4" src='{% static "landing/img/image-3.png" %}' /></div>
                <div class="product-info-2">
                  <div class="div-6">
                    <div class="chanise-cabbage">Big Potatos</div>
                    <div class="price"><div class="element-commerce-price">296.00</div></div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/rating.svg" %}' />
                </div>
              </div>
              <div class="product">
                <div class="image-wrapper"><img class="image-4" src='{% static "landing/img/image-2.png" %}' /></div>
                <div class="product-info-2">
                  <div class="div-6">
                    <div class="chanise-cabbage">Corn</div>
                    <div class="price-2">
                      <div class="element-commerce-price">298.00</div>
                      <div class="element-commerce-price-2">763.00</div>
                    </div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/rating.svg" %}' />
                </div>
              </div>
              <div class="product">
                <div class="image-wrapper"><img class="image-4" src='{% static "landing/img/image.png" %}' /></div>
                <div class="product-info-2">
                  <div class="div-6">
                    <div class="chanise-cabbage">Fresh cauliflower</div>
                    <div class="price"><div class="element-commerce-price">417.00</div></div>
                  </div>
                  <img class="img-3" src='{% static "landing/img/rating.svg" %}' />
                </div>
              </div>
            </div>
            <div class="bannar-5">
              <div class="info-6">
                <div class="div-4">
                  <div class="summer-fruit">HOT SALE</div>
                  <p class="starting-at-2">
                    <span class="text-wrapper-22">Save 37%</span>
                    <span class="text-wrapper-23"> on<br />Every Order</span>
                  </p>
                </div>
                <button class="button-2">
                  <div class="text-wrapper-15">Shop Now</div>
                  <img class="group-3" src='{% static "landing/img/group-2.png" %}' />
                </button>
              </div>
            </div>
          </div>
          <div class="category">
            <div class="heading-3">
              <div class="text-wrapper-19">CATEGORY</div>
              <div class="text-wrapper-12">Shop by Top Categories</div>
            </div>
            <div class="category-2">
              <img class="image-6" src='{% static "landing/img/image-1-11.png" %}' />
              <div class="text-wrapper-24">Diabetic Food</div>
            </div>
            <div class="category-3">
              <img class="image-6" src='{% static "landing/img/image-1-10.png" %}' />
              <div class="text-wrapper-24">Fresh Fruit</div>
            </div>
            <div class="category-4">
              <img class="image-6" src='{% static "landing/img/image-1-9.png" %}' />
              <div class="text-wrapper-24">Bread &amp; Bakery</div>
            </div>
            <div class="category-5">
              <img class="image-6" src='{% static "landing/img/image-1-8.png" %}' />
              <div class="fresh-fruit">Fresh Vegetables</div>
            </div>
            <div class="category-6">
              <img class="image-6" src='{% static "landing/img/image-1-7.png" %}' />
              <div class="text-wrapper-24">Baking Needs</div>
            </div>
            <div class="category-7">
              <img class="image-6" src='{% static "landing/img/image-1-6.png" %}' />
              <div class="text-wrapper-24">Meat &amp; Fish</div>
            </div>
            <div class="category-8">
              <img class="image-6" src='{% static "landing/img/image-1-5.png" %}' />
              <div class="text-wrapper-24">Cooking</div>
            </div>
            <div class="category-9">
              <img class="image-6" src='{% static "landing/img/image-1-4.png" %}' />
              <div class="text-wrapper-24">Snacks</div>
            </div>
            <div class="category-10">
              <img class="image-6" src='{% static "landing/img/image-1-3.png" %}' />
              <div class="text-wrapper-24">Beverages</div>
            </div>
            <div class="category-11">
              <img class="image-6" src='{% static "landing/img/image-1-2.png" %}' />
              <div class="text-wrapper-24">Dish Detergents</div>
            </div>
            <div class="category-12">
              <img class="image-6" src='{% static "landing/img/image-1-1.png" %}' />
              <div class="text-wrapper-24">Oil</div>
            </div>
            <div class="category-13">
              <img class="image-6" src='{% static "landing/img/image-1.png" %}' />
              <div class="text-wrapper-24">Beauty &amp; Health</div>
            </div>
          </div>
          <div class="bannar-6">
            <div class="bannar-7">
              <div class="text-wrapper-25">Sale of the Month</div>
              <div class="text-wrapper-26">BEST DEALS</div>
              <div class="timer">
                <div class="frame-4">
                  <div class="text-wrapper-27">00</div>
                  <div class="text-wrapper-28">DAYS</div>
                </div>
                <div class="text-wrapper-29">:</div>
                <div class="frame-4">
                  <div class="text-wrapper-27">02</div>
                  <div class="text-wrapper-28">HOURS</div>
                </div>
                <div class="text-wrapper-29">:</div>
                <div class="frame-4">
                  <div class="text-wrapper-27">18</div>
                  <div class="text-wrapper-28">MINS</div>
                </div>
                <div class="text-wrapper-29">:</div>
                <div class="frame-4">
                  <div class="text-wrapper-27">46</div>
                  <div class="text-wrapper-28">SECS</div>
                </div>
              </div>
              <button class="button-3">
                <div class="text-wrapper-15">Shop Now</div>
                <img class="group-3" src='{% static "landing/img/group-2.png" %}' />
              </button>
            </div>
            <div class="bannar-8">
              <div class="sale">
                <div class="text-wrapper-30">Started at</div>
                <div class="text-wrapper-31">$79.99</div>
              </div>
              <div class="text-wrapper-25">Low-Fat Meat</div>
              <div class="text-wrapper-26">85% FAT FREE</div>
              <button class="button-4">
                <div class="text-wrapper-15">Shop Now</div>
                <img class="group-3" src='{% static "landing/img/group-2.png" %}' />
              </button>
            </div>
            <div class="bannar-9">
              <div class="sale-2">
                <div class="text-wrapper-32">Up to</div>
                <div class="div-wrapper-2"><div class="text-wrapper-33">64% OFF</div></div>
              </div>
              <div class="text-wrapper-34">100% Fresh Fruit</div>
              <div class="summer-sale-2">SUMMER SALE</div>
              <button class="button-4">
                <div class="text-wrapper-15">Shop Now</div>
                <img class="group-3" src='{% static "landing/img/group-2.png" %}' />
              </button>
            </div>
          </div>
          <header class="header">
            <div class="feature">
              <div class="feature-2">
                <img class="img-3" src='{% static "landing/img/icon-3.svg" %}' />
                <div class="info-7">
                  <div class="text-wrapper-35">Free Shipping</div>
                  <div class="text-wrapper-36">Free shipping with discount</div>
                </div>
              </div>
              <div class="feature-2">
                <img class="img-3" src='{% static "landing/img/icon-2.svg" %}' />
                <div class="info-7">
                  <div class="text-wrapper-35">Great Support 24/7</div>
                  <div class="text-wrapper-36">Instant access to Contact</div>
                </div>
              </div>
              <div class="feature-3">
                <img class="img-3" src='{% static "landing/img/icon-1.svg" %}' />
                <div class="info-7">
                  <div class="text-wrapper-37">100% Sucure Payment</div>
                  <p class="text-wrapper-38">We ensure your money is save</p>
                </div>
              </div>
              <div class="feature-2">
                <img class="img-3" src='{% static "landing/img/icon.svg" %}' />
                <div class="info-7">
                  <div class="text-wrapper-35">Money-Back Guarantee</div>
                  <div class="text-wrapper-36">30 days money-back</div>
                </div>
              </div>
            </div>
            <div class="overlap-3">
              <div class="bannar-10">
                <div class="frame-5">
                  <div class="info-8">
                    <div class="buy-at-a-discount">Buy at a<br />discount price</div>
                    <div class="div-10">
                      <div class="rectangle"></div>
                      <p class="sale-up-to-off">
                        <span class="text-wrapper-39">Sale Up to<br /></span>
                        <span class="text-wrapper-40">48%</span>
                        <span class="text-wrapper-39"> off</span>
                      </p>
                    </div>
                  </div>
                  <button class="button-5">
                    <div class="text-wrapper-41">Shop now</div>
                    <img class="group-3" src='{% static "landing/img/group.png" %}' />
                  </button>
                </div>
                <div class="tracker">
                  <div class="ellipse"></div>
                  <div class="ellipse-2"></div>
                  <div class="ellipse-2"></div>
                </div>
              </div>
              <div class="categories">
                <div class="menu">
                  <img class="img-4" src='{% static "landing/img/apple-1.svg" %}' />
                  <div class="text-wrapper-42">Fresh Fruit</div>
                </div>
                <div class="menu-2">
                  <img class="img-4" src='{% static "landing/img/salad-1.svg" %}' />
                  <div class="fresh-fruit-2">Vegetables</div>
                </div>
                <div class="menu">
                  <img class="img-4" src='{% static "landing/img/fish-2.svg" %}' />
                  <div class="text-wrapper-42">River Fish</div>
                </div>
                <div class="menu">
                  <img class="img-4" src='{% static "landing/img/meat-2.svg" %}' />
                  <div class="text-wrapper-42">Chicken &amp; Meat</div>
                </div>
                <div class="menu">
                  <img class="img-4" src='{% static "landing/img/coffee-1.svg" %}' />
                  <div class="text-wrapper-42">Drink &amp; Water</div>
                </div>
                <div class="menu">
                  <img class="img-4" src='{% static "landing/img/ice-cream-1.svg" %}' />
                  <div class="text-wrapper-42">Yogurt &amp; Ice Cream</div>
                </div>
                <div class="menu">
                  <img class="img-4" src='{% static "landing/img/cupcake-1.svg" %}' />
                  <div class="text-wrapper-42">Cake &amp; Bread</div>
                </div>
                <div class="menu">
                  <img class="img-4" src='{% static "landing/img/pie-1.svg" %}' />
                  <div class="text-wrapper-42">Butter &amp; Cream</div>
                </div>
                <div class="menu">
                  <img class="img-4" src='{% static "landing/img/food-1.svg" %}' />
                  <div class="text-wrapper-42">Cooking</div>
                </div>
                <div class="menu-3">
                  <img class="img-4" src='{% static "landing/img/plus-solid-1.svg" %}' />
                  <div class="text-wrapper-42">View all Category</div>
                </div>
              </div>
              <div class="navigation">
                <img class="small-one" src='{% static "landing/img/small-one.png" %}' />
                <div class="midle">
                  <div class="div">
                    <img class="img-2" src='{% static "landing/img/plant-1.png" %}' />
                    <div class="ecobazar-2">Cheap ‘N’ Bulk</div>
                  </div>
                  <div class="search">
                    <div class="frame-6">
                      <img class="img-5" src='{% static "landing/img/search.svg" %}' />
                      <div class="text-wrapper-43">Search</div>
                    </div>
                    <button class="button-6"><div class="text-wrapper-44">Search</div></button>
                  </div>
                  <div class="div-10">
                    <img class="img" src='{% static "landing/img/phonecall-1.png" %}' />
                    <div class="info-9">
                      <div class="text-wrapper-45">Customer Services</div>
                      <div class="text-wrapper-46">(219) 555-0114</div>
                    </div>
                  </div>
                </div>
                <div class="nav-links">
                  <div class="nav-links-2">
                    <div class="all-categories">
                      <img class="img-3" src='{% static "landing/img/categories.svg" %}' />
                      <div class="div-10">
                        <div class="text-wrapper-47">All Categories</div>
                        <img class="img-5" src='{% static "landing/img/chevron-down-4.svg" %}' />
                      </div>
                    </div>
                    <div class="div-7">
                      <div class="text-wrapper-48">Home</div>
                      <img class="chevron-down" src='{% static "landing/img/chevron-down-3.svg" %}' />
                    </div>
                    <div class="div-7">
                      <div class="home">Shop</div>
                      <img class="chevron-down" src='{% static "landing/img/chevron-down.svg" %}' />
                    </div>
                    <div class="div-7">
                      <div class="home">Pages</div>
                      <img class="chevron-down" src='{% static "landing/img/chevron-down.svg" %}' />
                    </div>
                    <div class="div-7">
                      <div class="home">Blog</div>
                      <img class="chevron-down" src='{% static "landing/img/chevron-down.svg" %}' />
                    </div>
                    <div class="div-7"><div class="home">About Us</div></div>
                    <div class="div-7"><div class="home">Contact Us</div></div>
                  </div>
                  <div class="icons">
                    <img class="img-2" src='{% static "landing/img/heart.svg" %}' />
                    <div class="cart">
                      <div class="no"><div class="text-wrapper-49">2</div></div>
                    </div>
                    <img class="img-2" src='{% static "landing/img/user-3-1.svg" %}' />
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="best-deal">
            <div class="overlap-4">
              <div class="overlap-group-5">
                <div class="heading-4">
                  <div class="best-deals">BEST DEALS</div>
                  <p class="text-wrapper-50">Our Special Products Deal of the Month</p>
                </div>
                <div class="timer-2">
                  <div class="frame-7">
                    <div class="text-wrapper-51">00</div>
                    <div class="days">DAYS</div>
                  </div>
                  <div class="text-wrapper-52">:</div>
                  <div class="frame-7">
                    <div class="text-wrapper-51">02</div>
                    <div class="text-wrapper-53">HOURS</div>
                  </div>
                  <div class="text-wrapper-52">:</div>
                  <div class="frame-7">
                    <div class="text-wrapper-51">18</div>
                    <div class="text-wrapper-53">MINS</div>
                  </div>
                  <div class="text-wrapper-52">:</div>
                  <div class="frame-7">
                    <div class="text-wrapper-51">46</div>
                    <div class="text-wrapper-53">SECS</div>
                  </div>
                </div>
                <img class="group-6" src='{% static "landing/img/group-26.png" %}' />
              </div>
              <button class="button-7">
                <div class="text-wrapper-41">Shop now</div>
                <img class="group-3" src='{% static "landing/img/group.png" %}' />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
