<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href='{% static "wishlist/globals.css" %}' />
    <link rel="stylesheet" href='{% static "wishlist/styleguide.css" %}' />
    <link rel="stylesheet" href='{% static "wishlist/style.css" %}' />
  </head>
  <body>
    <div class="element-wishlist">
      <div class="div">
        <div class="wishlist">
          <div class="share">
            <div class="text-wrapper">Share:</div>
            <div class="share-2">
              <img class="social-media" src='{% static "wishlist/img/social-media-8.svg" %}' />
              <img class="social-media" src='{% static "wishlist/img/social-media-7.svg" %}' />
              <img class="social-media" src='{% static "wishlist/img/social-media-6.svg" %}' />
              <img class="social-media" src='{% static "wishlist/img/social-media-5.svg" %}' />
            </div>
          </div>
          <img class="devider" src='{% static "wishlist/img/devider-4.svg" %}' />
          <div class="wishlist-product">
            <div class="product">
              <img class="image" src='{% static "wishlist/img/image-2.png" %}' />
              <div class="green-capsicum">Fresh Mango</div>
            </div>
            <div class="price"><div class="element-commerce-price">212.00</div></div>
            <div class="action">
              <button class="button"><div class="normal">Add to Cart</div></button>
              <img class="img" src='{% static "wishlist/img/close-2.svg" %}' />
            </div>
            <div class="stock-status"><div class="text-wrapper-2">Out of Stock</div></div>
          </div>
          <img class="devider-2" src='{% static "wishlist/img/devider-3.svg" %}' />
          <div class="wishlist-product-2">
            <div class="product">
              <img class="image" src='{% static "wishlist/img/image-1.png" %}' />
              <div class="green-capsicum">Chinese Cabbage</div>
            </div>
            <div class="price"><div class="element-commerce-price">220.00</div></div>
            <div class="action">
              <button class="normal-wrapper"><div class="text-wrapper-3">Add to Cart</div></button>
              <img class="img" src='{% static "wishlist/img/close-1.svg" %}' />
            </div>
            <div class="div-wrapper"><div class="text-wrapper-4">In Stock</div></div>
          </div>
          <img class="devider-3" src='{% static "wishlist/img/devider-2.svg" %}' />
          <div class="wishlist-product-3">
            <div class="product">
              <img class="image" src='{% static "wishlist/img/image-3.png" %}' />
              <div class="green-capsicum">Green Pepper</div>
            </div>
            <div class="price-2">
              <div class="element-commerce-price">965.00</div>
              <div class="element-commerce-price-2">673.00</div>
            </div>
            <div class="action">
              <button class="normal-wrapper"><div class="text-wrapper-3">Add to Cart</div></button>
              <img class="img" src='{% static "wishlist/img/close.svg" %}' />
            </div>
            <div class="div-wrapper"><div class="text-wrapper-4">In Stock</div></div>
          </div>
          <div class="header">
            <div class="header-2">
              <div class="product-2">PRODUCT</div>
              <div class="price-3">PRICE</div>
              <div class="stock-status-2">STOCK STATUS</div>
            </div>
            <img class="line" src='{% static "wishlist/img/line-14.svg" %}' />
          </div>
        </div>
        <div class="text-wrapper-5">My Wishlist</div>
        <div class="breadcrumbs">
          <div class="location">
            <img class="img" src='{% static "wishlist/img/home-1-1.svg" %}' />
            <img class="vector" src='{% static "wishlist/img/vector.svg" %}' />
            <div class="vegetables">Wishlist</div>
          </div>
        </div>
        <div class="navigation">
          <div class="small-one">
            <div class="div-2">
              <img class="map-pin" src='{% static "wishlist/img/map-pin.png" %}' />
              <p class="p">Store Location: Lincoln- 344, Illinois, Chicago, USA</p>
            </div>
            <div class="links">
              <div class="div-3">
                <div class="text-wrapper-6">Eng</div>
                <img class="group" src='{% static "wishlist/img/group.png" %}' />
              </div>
              <div class="div-3">
                <div class="text-wrapper-6">USD</div>
                <img class="group" src='{% static "wishlist/img/group.png" %}' />
              </div>
              <img class="devider-4" src='{% static "wishlist/img/devider-1.svg" %}' />
              <div class="account">
                <div class="text-wrapper-7">Sign In</div>
                <div class="text-wrapper-7">/</div>
                <div class="text-wrapper-7">Sign Up</div>
              </div>
            </div>
          </div>
          <div class="midle">
            <div class="logo">
              <img class="img-2" src='{% static "wishlist/img/plant-1-1.svg" %}' />
              <div class="ecobazar">Cheap ‘N’ Bulk</div>
            </div>
            <div class="search">
              <div class="searech">
                <img class="search-2" src='{% static "wishlist/img/search-1.svg" %}' />
                <div class="text-wrapper-8">Search</div>
              </div>
              <button class="button-2"><div class="text-wrapper-3">Search</div></button>
            </div>
            <div class="icons">
              <img class="img-2" src='{% static "wishlist/img/heart.svg" %}' />
              <img class="devider-5" src='{% static "wishlist/img/devider-5.svg" %}' />
              <div class="shopping-card">
                <div class="cart">
                  <div class="no"><div class="text-wrapper-9">2</div></div>
                </div>
                <div class="info">
                  <div class="text-wrapper-10">Shopping cart:</div>
                  <div class="text-wrapper-11">$57.00</div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-links">
            <div class="nav-links-2">
              <div class="nav-links-3">
                <div class="text-wrapper-12">Home</div>
                <img class="chevron-down" src='{% static "wishlist/img/chevron-down-3.svg" %}' />
              </div>
              <div class="nav-links-3">
                <div class="home">Shop</div>
                <img class="chevron-down" src='{% static "wishlist/img/chevron-down.svg" %}' />
              </div>
              <div class="nav-links-3">
                <div class="home">Pages</div>
                <img class="chevron-down" src='{% static "wishlist/img/chevron-down.svg" %}' />
              </div>
              <div class="nav-links-3">
                <div class="home">Blog</div>
                <img class="chevron-down" src='{% static "wishlist/img/chevron-down.svg" %}' />
              </div>
              <div class="nav-links-3"><div class="home">About Us</div></div>
              <div class="nav-links-3"><div class="home">Contact Us</div></div>
            </div>
            <div class="div-2">
              <img class="phonecall" src='{% static "wishlist/img/phonecall-1.svg" %}' />
              <div class="text-wrapper-13">(219) 555-0114</div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="subscribe-our">
            <div class="frame">
              <div class="text-wrapper-14">Subcribe our Newsletter</div>
              <p class="text-wrapper-15">
                Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu magna.
              </p>
            </div>
            <div class="subscribe">
              <div class="overlap-group">
                <input class="input-field" placeholder="Your email address" type="email" />
                <button class="button-3"><div class="text-wrapper-16">Subscribe</div></button>
              </div>
            </div>
            <div class="frame-2">
              <img class="social-media" src='{% static "wishlist/img/social-media-4.svg" %}' />
              <img class="social-media" src='{% static "wishlist/img/social-media-3.svg" %}' />
              <img class="social-media" src='{% static "wishlist/img/social-media-2.svg" %}' />
              <img class="social-media" src='{% static "wishlist/img/social-media-1.svg" %}' />
            </div>
          </div>
          <div class="footer-2">
            <div class="fotter">
              <div class="company">
                <div class="div-2">
                  <img class="img-2" src='{% static "wishlist/img/plant-1.svg" %}' />
                  <div class="ecobazar-2">Cheap ‘N’ Bulk</div>
                </div>
                <p class="text-wrapper-17">
                  Morbi cursus porttitor enim lobortis molestie. Duis gravida turpis dui, eget bibendum magna congue
                  nec.
                </p>
                <div class="CTA">
                  <button class="button-4"><div class="text-wrapper-18">(219) 555-0114</div></button>
                  <div class="text-wrapper-19">or</div>
                  <button class="button-4"><div class="text-wrapper-18">Proxy@gmail.com</div></button>
                </div>
              </div>
              <div class="my-account">
                <div class="text-wrapper-20">My Account</div>
                <div class="links-2">
                  <div class="text-wrapper-21">My Account</div>
                  <div class="text-wrapper-22">Order History</div>
                  <div class="text-wrapper-23">Shoping Cart</div>
                  <div class="text-wrapper-22">Wishlist</div>
                </div>
              </div>
              <div class="help">
                <div class="text-wrapper-20">Helps</div>
                <div class="links-2">
                  <div class="text-wrapper-21">Contact</div>
                  <div class="text-wrapper-22">Faqs</div>
                  <div class="text-wrapper-22">Terms &amp; Condition</div>
                  <div class="text-wrapper-22">Privacy Policy</div>
                </div>
              </div>
              <div class="proxy">
                <div class="text-wrapper-20">Proxy</div>
                <div class="links-2">
                  <div class="text-wrapper-21">About</div>
                  <div class="text-wrapper-22">Shop</div>
                  <div class="text-wrapper-22">Product</div>
                  <div class="text-wrapper-22">Track Order</div>
                </div>
              </div>
              <div class="categories">
                <div class="text-wrapper-20">Categories</div>
                <div class="links-2">
                  <div class="text-wrapper-21">Fruit &amp; Vegetables</div>
                  <div class="text-wrapper-22">Meat &amp; Fish</div>
                  <div class="text-wrapper-22">Bread &amp; Bakery</div>
                  <div class="text-wrapper-22">Beauty &amp; Health</div>
                </div>
              </div>
            </div>
            <div class="copyright">
              <p class="ecobazar-ecommerce">Cheap ‘N’ Bulk&nbsp;&nbsp;© 2023. All Rights Reserved</p>
              <div class="frame-3">
                <div class="div-4"><img class="apple-pay" src='{% static "wishlist/img/applepay.svg" %}' /></div>
                <div class="div-4"><img class="visa-logo" src='{% static "wishlist/img/visa-logo.svg" %}' /></div>
                <div class="div-4">
                  <div class="discover">
                    <img class="stripe" src='{% static "wishlist/img/stripe.svg" %}' />
                    <div class="o-wrapper"><img class="o" src='{% static "wishlist/img/o.svg" %}' /></div>
                  </div>
                </div>
                <div class="div-4">
                  <div class="mastercard">
                    <div class="overlap-group-2">
                      <img class="right" src='{% static "wishlist/img/right.svg" %}' /> <img class="middle" src='{% static "wishlist/img/middle.svg" %}' />
                    </div>
                  </div>
                </div>
                <div class="overlap-wrapper">
                  <div class="overlap">
                    <img class="lock" src='{% static "wishlist/img/lock-1.svg" %}' />
                    <div class="text-wrapper-24">Secure</div>
                    <div class="text-wrapper-25">Payment</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
